<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.crm.dao.extend.SalChanceExtendMapper">
	<!-- 根据chance id查询对应的开发计划 -->

 
  
  <!-- 定义planResultMap -->
 <resultMap id="planResultMap" type="com.briup.crm.bean.SalPlan">
    <id column="pla_id" jdbcType="BIGINT" property="plaId" />
    <result column="pla_chc_id" jdbcType="BIGINT" property="plaChcId" />
    <result column="pla_todo" jdbcType="VARCHAR" property="plaTodo" />
    <result column="pla_result" jdbcType="VARCHAR" property="plaResult" />
  </resultMap>
  
  <select id="selectPlanByChanceId" parameterType="long" resultMap="planResultMap">
  	select * from sal_plan
  	where
  	pla_chc_id=#{id}
  </select>
  
   <resultMap id="chanceResultMap" type="com.briup.crm.bean.extend.SalChanceExtend">
    <id column="chc_id" jdbcType="BIGINT" property="chcId" />
    <result column="chc_source" jdbcType="VARCHAR" property="chcSource" />
    <result column="chc_cust_name" jdbcType="VARCHAR" property="chcCustName" />
    <result column="chc_title" jdbcType="VARCHAR" property="chcTitle" />
    <result column="chc_rate" jdbcType="INTEGER" property="chcRate" />
    <result column="chc_linkman" jdbcType="VARCHAR" property="chcLinkman" />
    <result column="chc_tel" jdbcType="VARCHAR" property="chcTel" />
    <result column="chc_addr" jdbcType="VARCHAR" property="chcAddr" />
    <result column="chc_desc" jdbcType="VARCHAR" property="chcDesc" />
    <result column="chc_create_by" jdbcType="VARCHAR" property="chcCreateBy" />
    <result column="chc_due_to" jdbcType="VARCHAR" property="chcDueTo" />
    <result column="chc_status" jdbcType="INTEGER" property="chcStatus" />
    <collection column="chc_id" property="plans" select="selectPlanByChanceId"></collection>
  </resultMap>
  
  <!-- 查询商机并且关联开发计划 -->
  <select id="selectChanceWithPlanById" parameterType="long" resultMap="chanceResultMap">
  	select * from sal_chance
  	where
  	chc_id=#{id}
  </select>
</mapper>